Django==1.7
django-bootstrap-toolkit==2.15.0
django-registration-redux==1.2
nltk==3.2
Pillow==3.1.1
textblob==0.11.1
textstat==0.2

##A list of results will be returned from different sources. Pages from US website healthfinder.gov, MedlinePlus and other results from the world wide 
##web should be returned. ##

##The user can choose to see pages from a combination of these sources or just from a single
## source.##

##The page is analysed in many different ways. Readability. If the page gives of a happy or sad vibe. How likely the illness is.

##The user can create also create a profile.##

##Once he/she has done so, they can create categories and add pages to them.##

## The user can choose to make his page private ##

