{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}New{% endblock %}

{% block body_block %}
        <h1>Add a Category</h1>

        <form id="category_form" method="post" action="/ehealth_app/add_category/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create Category" />
        </form>
{% endblock %}
<tr><th><label for="id_name">Name:</label></th><td><input id="id_name" maxlength="128" name="name" type="text" value="dd334443" /><br /><span class="helptext">Please enter the category name.</span></td></tr>

<tr><th><label for="id_shared">Shared:</label></th><td><input id="id_shared" name="shared" type="checkbox" /><br /><span class="helptext">Would you like this category to be viewed by other users?</span><input id="id_slug" name="slug" type="hidden" /></td></tr>