{% extends 'basewithoutsearch.html' %}

{% load staticfiles %}

{% block title %}New{% endblock %}

{% block body_block %}
        <h1>Add a Category</h1>

        <form id="category_form" method="post" action="/ehealth_app/add_category/">
            {% csrf_token %}
            <div class="col-xs-4">
                 <label for="id_name">Name</label>
                <input class="form-control" id="id_name" maxlength="254"
                    name="name" type="text" placeholder="Please make sure that the category does not exist already!"/>
                <div class="checkbox">
                    <label><input type="checkbox" name="shared[]" value="1">Do you want this category to be visible to other users?</label>
                </div>
                </br>
                <input class="btn btn-success" type="submit" name="submit" value="Create Category" />

            </div>
        </form>
{% endblock %}

