<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Welcome to Ehealth</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}" /> <!-- CSS -->
        <script src="{% static "js/script.js" %}"></script> <!-- JavaScript -->
    </head>
    </head>

    <body>
        <h1>Ehealth has...</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/ehealth_app/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <a href="/ehealth_app/about/">About</a><br />
        <img src="{% static "images/pigeon.jpg" %}" style="width: 50%; height: 50%;" alt="Picture of Rango" /> <!-- New line -->
    </body>

</html>