{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}

    <div class="row">
	<br/>
	<br/>
	  <br/>
			<br/>
			<br/>
			<br/>
        <div class="panel panel-primary">
            <div class="panel">
                {% if result_list %}
                    <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% for result in result_list %}
								<!-- perhaps another for loop for the readability scores -->
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                    <p class="list-group-item-text">{{ result.summary }}</p>
									</br>
									<p class = "list-group-item-text">{{result.from}} </p>
									<!-- Add readability etc scores here as here -->
                                </div>
								<!-- Have some code here to implement adding of pages to favourites -->
								<!-- set models.title to result.title etc -->
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
 </div>

{% endblock %}